# Git files

.git
.github
.gitignore

# Docker specific files

.dockerignore

# Project config and documentation

.env
.env.example
README.md
cloudbuild.yaml
app.json
app-no-redis.json

# Node modules (will be installed inside the container)

node_modules
